Q1

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [1]:
for i in range(1):
    for j in range(5):
        print(j*'ineuron ')

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [2]:
for i in range(4):
    for j in range(i + 1):
        print('ineuron', end=' ')
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

Q2
              ineuron
   ineuron              ineuron
ineuron       ineuron         ineuron
   ineuron              ineuron
              ineuron

In [1]:
# Note: i tried to write own, but not happend, so i taken program from yesterdays class and did some changes to that program 

n = 3
k = n

for i in range(n):
    k = k - 1
    print('   '*k, end=' ')
    for j in range(i+1):
        print('ineuron', end='  ')
    print()
m = 1
k = m
for i in range(m,-1,-1):
    k = k + 1
    print('  '*k, end=' ')
    for j in range(i,-1,-1):
        print('ineuron', end='  ')
    print()

       ineuron
    ineuron  ineuron
 ineuron  ineuron  ineuron
     ineuron  ineuron
       ineuron

In [4]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,4,5]),{'k1':'Karthik', 'k2': 'ineuron','k3':'Konanki',3:6,7:8},['ineuron', 'data science']]

In [5]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [6]:
# Q3. Try to extract all the list entity

for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [7]:
for i in range(len(l)):
    if type(l[i]) == list:
        print(i,':',l[i])

0 : [1, 2, 3, 4]
5 : ['ineuron', 'data science']

In [8]:
# Q4. Try to extract all the dict entity

for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8}

In [9]:
for i in range(len(l)):
    if type(l[i]) == dict:
        print(i,':',l[i])

4 : {'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8}

In [10]:
# Q5. Try to extract all the tuple entity

for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [11]:
for i in range(len(l)):
    if type(l[i]) == tuple:
        print(i,':',l[i])

1 : (2, 3, 4, 5, 6)
2 : (3, 4, 5, 6, 7)

In [12]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [13]:
# Q6. Try to extract all numerical data, it may be partof list or tuple or dict key  and values

for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if type(j) == int or type(j) == float:
                print(j)
    if type(i) == set:
        for m in i:
            if type(m) == int or type(m) == float:
                print(m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v)==int or type(k) == float or type(v)==float:
                print(k)
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [14]:
# Q7. Try to summation of all the numerical data

l1=[]
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if type(j) == int or type(j) == float:
                print(j)
                l1.append(j)
    if type(i) == set:
        for m in i:
            if type(m) == int or type(m) == float:
                print(m)
                l1.append(m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v)==int or type(k) == float or type(v)==float:
                print(k)
                l1.append(k)
                print(v)
                l1.append(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [15]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [16]:
sum(l1)

156

In [17]:
sum=0
for i in l1:
    sum=sum+i
print(sum)

156

In [18]:
# Q8. Try to filter out all the odd values out of all numerical data which is part of list

l1=[]
for i in l:
    if type(i) == list :
        for j in i:
            if type(j) == int or type(j) == float:
                print(j)
                l1.append(j)

1
2
3
4

In [19]:
l1

[1, 2, 3, 4]

In [20]:
for i in l1:
    if i % 2 != 0:
        print(i)

1
3

In [21]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,4,5]),{'k1':'Karthik', 'k2': 'ineuron','k3':'Konanki',3:6,7:8},['ineuron', 'data science']]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [22]:
# Q9. Try to extract "ineuron" out of this data
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if type(j) == str and j == 'ineuron':
                print(j)
    if type(i) == set:
        for m in i:
            if type(m) == str  and j == 'ineuron':
                print(m)
    if type(i) == dict:
        for k,v in i.items():
            if (type(k) == str or type(v)==str):
                if k == 'ineuron':
                    print(k)
                if v == 'ineuron':
                    print(v)

ineuron
ineuron

In [23]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,4,5]),{'k1':'Karthik', 'k2': 'ineuron','k3':'Konanki',3:6,7:8},['ineuron', 'data science']]
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [24]:
# Q10. Try to find number of occurances of all the data

l1=[]
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
                l1.append(j)
    if type(i) == set:
        for m in i:
            l1.append(m)
    if type(i) == dict:
        for k,v in i.items():
            l1.append(k)
            l1.append(v)

In [25]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'Karthik',
 'k2',
 'ineuron',
 'k3',
 'Konanki',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']

In [26]:
for i in set(l1):
    print(i,':', l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
ineuron : 2
Karthik : 1
Konanki : 1
8 : 1
45 : 1
data science : 1
23 : 1
k3 : 1
k2 : 1

In [27]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [28]:
# Q11. Try to find number of keys in dictionary elements

for i in l:
    if type(i) == dict:
        print(len(i.keys()))

5

In [29]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [30]:
# Q12. Try to filter out all string data

for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if type(j) == str:
                print(j)
    if type(i) == set:
        for m in i:
            if type(m) == str:
                print(m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == str or type(v) == str:
                print(k)
                print(v)

k1
Karthik
k2
ineuron
k3
Konanki
ineuron
data science

In [31]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [32]:
# Q13. Try to find alphanum in data

for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if type(j) == str and j.isalnum() == True:
                print(j)
    if type(i) == set:
        for m in i:
            if type(m) == str and m.isalnum() == True:
                print(m)
    if type(i) == dict:
        for k,v in i.items():
            if (type(k) == str and k.isalnum() == True) or (type(v) ==str and v.isalnum() == True):
                print(k)
                print(v)

k1
Karthik
k2
ineuron
k3
Konanki
ineuron

In [33]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [34]:
# Q14. Try to filter out all string data

l1=[]
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if type(j) == int or type(j) == float:
                l1.append(j)
    if type(i) == set:
        for m in i:
            if type(m) == int or type(m) == float:
                l1.append(m)
    if type(i) == dict:
        for k,v in i.items():
            if type(k) == int or type(v)==int or type(k) == float or type(v)==float:
                l1.append(k)
                l1.append(v)
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [35]:
mult=1
for i in l1:
    mult=mult*i
print(mult)

908605071360000

In [36]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'Karthik', 'k2': 'ineuron', 'k3': 'Konanki', 3: 6, 7: 8},
 ['ineuron', 'data science']]

In [37]:
# Q15. Try to unwarp all the collection inside collection and create a flat list

l1=[]
for i in l:
    if type(i) == list or type(i) == tuple:
        for j in i:
            l1.append(j)
    if type(i) == set:
        for m in i:
            l1.append(m)
    if type(i) == dict:
        for k,v in i.items():
            l1.append(k)
            l1.append(v)
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'Karthik',
 'k2',
 'ineuron',
 'k3',
 'Konanki',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science']